@import "./../SCSS/abstracts/variables.scss";


.body{
    max-height: 1000px;
    min-height: 720px;

    &__dark {
        color: $text2;
        background-color: $m1;
      }
        
    &__light {
        color: $text;
        background-color: $ml1;
    }
    
    &__header{
        width: 70%;
        margin: auto;

        $breakpoint-tablet: 980px;
        @media (max-width: $breakpoint-tablet) { 
            width: 90%;    
        }

        $breakpoint-tablet: 820px;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }

        $breakpoint-tablet: 500px;
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }

            &__dark {
                color: $text2;
                background-color: $m1;
            }
        
            &__light {
                color: $textl;
                background-color: $ml1;
            }

                &__box{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    
                    $breakpoint-tablet: 820px;
                    @media (max-width: $breakpoint-tablet) {
                    width: 100%;
                    display: block;
                    }

                    $breakpoint-tablet: 500px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 100%;
                        display: block;
                    }

                    $breakpoint-tablet: 499px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 100%;
                        display: block;
                        padding-top: 50px;    
                    }
                
                    &__myName{
                        padding-top: 200px;
                        text-align: center;
                        width: 100%;
                        margin-right: 250px;
                        text-align: left;   
                        font-size: 4rem;
                        z-index: 10;

                        $breakpoint-tablet: 1600px;
                        @media (max-width: $breakpoint-tablet) { 
                            font-size: 3.6rem; 
                            margin-right: 200px;   
                        }

                        $breakpoint-tablet: 1300px;
                        @media (max-width: $breakpoint-tablet) { 
                            font-size: 3.3rem;  
                            margin-right: 150px; 
                        }

                        $breakpoint-tablet: 980px;
                        @media (max-width: $breakpoint-tablet) { 
                            font-size: 3.5rem;    
                        }
                
                        $breakpoint-tablet: 820px;
                        @media (max-width: $breakpoint-tablet) {
                            padding-top: 60px;
                            font-size: 3.7rem;
                            text-align: center;
                        }

                        $breakpoint-tablet: 500px;
                        @media (max-width: $breakpoint-tablet) {
                            padding-top: 150px;
                            font-size: 3.2rem;
                            text-align: center;
                        }

                        $breakpoint-tablet: 499px;
                        @media (max-width: $breakpoint-tablet) {
                            font-size: 2.8rem; 
                            padding-top: 110px; 
                        }   
                    }

                    &__mytitle{
                        padding-top: 1rem;
                        text-align: left;
                        font-size: 2rem;

                        $breakpoint-tablet: 1600px;
                        @media (max-width: $breakpoint-tablet) { 
                            font-size: 1.8rem;   
                        }

                        $breakpoint-tablet: 1300px;
                        @media (max-width: $breakpoint-tablet) { 
                            font-size: 1.6rem;   
                        }

                        $breakpoint-tablet: 980px;
                        @media (max-width: $breakpoint-tablet) { 
                            font-size: 1.8rem;    
                        }

                        $breakpoint-tablet: 820px;
                        @media (max-width: $breakpoint-tablet) {
                            font-size: 2rem;
                            text-align: center;
                            padding-top: 10px;
                    
                        }

                        $breakpoint-tablet: 500px;
                        @media (max-width: $breakpoint-tablet) {
                            font-size: 1.8rem;
                            text-align: center;
                    
                        }

                        $breakpoint-tablet: 499px;
                        @media (max-width: $breakpoint-tablet) {
                            font-size: 1.4rem;  
                        }
            }

            &__icons{
                font-size: 2.2rem;
                margin-top: 30px;
                display: flex;

                $breakpoint-tablet: 820px;
                @media (max-width: $breakpoint-tablet) {
                    width: 100%;
                    font-size: 2.6rem;
                    justify-content: center;
                    position: absolute;
                    margin-top: 350px;
                }

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                    width: 100%;
                    font-size: 1.6rem;
                    justify-content: center;
                    position: absolute;
                    margin-top: 350px;
                }

                $breakpoint-tablet: 499px;
                        @media (max-width: $breakpoint-tablet) {
                            margin-top: 400px;
                        }
                
            }

            &__icon{
                margin-right: 30px;
                margin-top: 30px;

                &__dark {
                    color: $text2;
                    
                  }
                    
                &__light {
                    color: $textl;
                    
                }
                
                &:hover {
                    transform: scale(1.2);
                }

                

                $breakpoint-tablet: 820px;
                @media (max-width: $breakpoint-tablet) {
                   margin-right: 20px;
                   margin-left: 20px;
                    margin-top: 270px;
                    
                }

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                   
                    margin-top: 90px;
                    
                }

                $breakpoint-tablet: 499px;
                @media (max-width: $breakpoint-tablet) {
                    margin-right: 20px;
                    margin-left: 20px;
                    margin-top: 10px;
                    
                }
            }

            &__mouse{

                align-items: center;
                width: 180px;
                height: 60px;
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                margin-top: 250px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                cursor: pointer;
                animation: movebtn 3s ease-in-out infinite;
                transition: all .5s ease-in-out;

                $breakpoint-tablet: 820px;
                @media (max-width: $breakpoint-tablet) {
               
                        display: none;
               
                }

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
               
                        display: none;
               
                }
                

                &__icon1{
                   color: $resalt;
                   font-size: 32px;

                    &__dark {
                    color: $resalt;
                    
                    }
                    
                    &__light {
                    color: $textl;
                    
                    }
                }

                &__txt{
                    font-size: 1rem;
                    &__dark {
                        color: $resalt;
                        
                        }
                        
                        &__light {
                        color: $textl;
                        
                        }
                }

                &__icon2{
                    font-size: 100px;
                    color: $resalt;
                    height: 40px;
                    width: 40px;

                    &__dark {
                        color: $resalt;
                        
                        }
                        
                        &__light {
                        color: $textl;
                        
                        }
                }

                @keyframes movebtn {
                    0%{
                      transform: translateY(0px);
                    }
                    20%{
                        transform: translateY(-20px);
                      }
                    75%{
                      transform: translateY(-20px);
                    }
                    100%{
                      transform: translateY(0px);
                    }
                  }
            }
        
            &__photo1{
                width: 700px;
                border-radius: 20px;
                margin-top: 70px;
                $breakpoint-tablet: 1600px;
                @media (max-width: $breakpoint-tablet) { 
                    width: 650px; 
                    
                }

                $breakpoint-tablet: 1300px;
                @media (max-width: $breakpoint-tablet) { 
                    width: 570px; 
                }

                $breakpoint-tablet: 1280px;
                @media (max-width: $breakpoint-tablet) { 
                    width: 500px; 
                    margin-top: 90px;
                }

                $breakpoint-tablet: 980px;
                @media (max-width: $breakpoint-tablet) { 
                    width: 470px;    
                }

                $breakpoint-tablet: 820px;
                @media (max-width: $breakpoint-tablet) {
                    width: 80%;
                    left: 5px;
                    z-index: 6;
                    position: absolute;
                    margin: 50px auto 0px auto;
                    right: 0;  
                }

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) { 
                    width: 85%;
                    left: 25px;
                    z-index: 6;
                    position: absolute;
                    margin-top: 50px;
                    
                }

                
            }

           
        }
    }   

}

