@import "./../SCSS/abstracts/variables.scss";

.bloc2{
    height: 100%;
    background-color: $m2;
    max-height: 2000px;
    min-height: 1000px;
    width: 100%;

    $breakpoint-tablet: 500px;
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
        padding-bottom: 100px;
        height: 1400px;
    }

    &__box{
        margin: auto;
        max-width: 1280px;
        padding-top: 50px;

        &__content{
            display: flex;
            justify-content: left;
            width: 95%;
            margin: auto;
           
            $breakpoint-tablet: 600px;
            @media (max-width: $breakpoint-tablet) {
                display: block;
                justify-content: centers;
                width: 90%;
            }

            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
                display: block;
                justify-content: centers;
                width: 100%;
            }

            &__picture1{
                height: 350px;
                margin: 50px 60px 0px 0px;
                
                $breakpoint-tablet: 600px;
                @media (max-width: $breakpoint-tablet) {
                    margin-left: 80px;
                }

                $breakpoint-tablet: 420px;
                    @media (max-width: $breakpoint-tablet) {
                        height: 310px;
                    justify-content: center;
                        margin-bottom: 10px;
                        
                    }
        
            }

            &__box1{
                justify-content: right;
                height: 350px;
                margin-top: 50px;

                $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
            justify-content: left;
            }

            &__text0{ 
                color: $resalt;
                font-size: 1.2rem;
                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                margin: 0px 0px 0px 40px;
                
                }

            }
        
            &__me{
                color: $text2;
                font-size: 2.5rem;
                text-align: left;
                margin-bottom: 10px;
                padding-top: 5px;

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                margin: 0px 0px 0px 40px;
                
                }
            }

            &__line{
                width: 50px;
                height:4px;
                background-color: $resalt;

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                margin: 0px 0px 0px 40px;
                
                }
            }

                &__text1{ 
                    color: $text2;
                    min-width: 400px;
                    max-width: 600px;
                    text-align: justify;
                    line-height: 1.4;
                    font-size: 1.1rem;
                    margin-top: 25px;
                    word-break: break-all;
                    margin-bottom: 70px;
                    
                    $breakpoint-tablet: 500px;
                    @media (max-width: $breakpoint-tablet) {
                    max-width: 400px;
                    margin: 30px auto 30px auto;
                    font-size: 1rem;
                    }

                    $breakpoint-tablet: 420px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 320px;
                        text-align: justify;
                        line-height: 1.4;
                        margin: auto;
                        font-size: 0.8rem;
                        margin-bottom: 30px;
                    }

                    &__button{
                        padding: 20px;
                        background-color: $resalt;
                        color: $text;
                        font-weight: 600;
                        border-radius: 10px;
                        
                        $breakpoint-tablet: 500px;
                        @media (max-width: $breakpoint-tablet) {
                        
                        margin: auto;
                        }
        
                        $breakpoint-tablet: 420px;
                        @media (max-width: $breakpoint-tablet) {
                        justify-content: center;
                            margin-bottom: 10px;
                            padding: 10px;
                            
                            
                        }
        
                        &:active {
                            box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);
                            transform: translateY(2px);
                        
                        }
                    }
                }

                
            }

        }

        &__b1{
            width: 1280px;
            display: flex;

            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
                display: block;
            }
            
            &__skills{
                height: 350px;
                width: 380px;
                margin-top: 50px;

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                   height: 40px;;
                }
                   
                &__title{
                    color: $text2;
                    width: 100%;
                    font-size: 1.7rem;
                    text-align: left;
                    margin-bottom: 5px;   
                    
                    $breakpoint-tablet: 500px;
                    @media (max-width: $breakpoint-tablet) {
                       height: 40px;
                       text-align: center;
                    }
                }

              
            
                &__position{
                    width: 70%;
                    display: flex;
                    justify-content: start;
                    
                    &__line{
                        width: 30px;
                        height: 5px;
                        background-color: $resalt;
                            
                    }
                
                }

            }

        
            &__box{
              margin-top: 50px;
              height: 150px;
             
             
              $breakpoint-tablet: 500px;
              @media (max-width: $breakpoint-tablet) {
                  display: block;
              }
        
                &__frontEnd{ 
                    width: 60%;
                    height: 90px;
                    margin-left: 30px;
                    
                    $breakpoint-tablet: 500px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 100%;
                    }
                             
                    @media (max-width: $breakpoint-tablet) {
                        width: 450px;
                    }
                    
                    &__title{
                        color: $text2;
                        font-size: 1.2rem;
                        text-align: start;
                        margin-bottom: 20px;
                        color: $resalt;
                    }
        
                    &__icons{
                        display: flex;
                        justify-content: left;
        
                        $breakpoint-tablet: 500px;
                        @media (max-width: $breakpoint-tablet) {
                            
                        }
        
                        &__icon{
                            color: $text2;
                            font-size: 2rem;
                            margin-right: 30px;
                            text-align: center;

                            $breakpoint-tablet: 500px;
                            @media (max-width: $breakpoint-tablet) {
                                font-size: 2rem;
                                margin-right: 10px;
                            }
        
                            &__title{
                                font-size: 0.8rem;
                                margin-top: 5px;
                            }
                        }
                    }
                }
        
                &__backEnd{
                    margin-top: 40px;
                    margin-left: 30px;
                    height: 90px;
                   
                    @media (max-width: $breakpoint-tablet) {
                        width: 450px;
                    }
                        
                    &__title{
                        color: $text2;
                        font-size: 1.2rem;
                        text-align: start;
                        margin-bottom: 15px;
                        color: $resalt;
                    }
        
                    &__icons{
                        display: flex;
                        
                        justify-content: start;
                        $breakpoint-tablet: 500px;
                        @media (max-width: $breakpoint-tablet) {
                            
                        }
        
                        &__icon{
                            color: $text2;
                            font-size: 2rem;
                            margin-right: 30px;
                            text-align: center;

                            $breakpoint-tablet: 500px;
                            @media (max-width: $breakpoint-tablet) {
                                font-size: 2rem;
                                margin-right: 10px;
                            }

                            &__title{
                                font-size: 0.8rem;
                                margin-top: 5px;
                            }
                        }
                    }
                }

                &__others{
                    margin-top: 40px;
                    margin-left: 30px;
                    height: 90px;
                    
                    @media (max-width: $breakpoint-tablet) {
                        width: 450px;
                    }
                        
                    &__title{
                        color: $text2;
                        font-size: 1.2rem;
                        text-align: start;
                        margin-bottom: 15px;
                        color: $resalt;
                    }
        
                    &__icons{
                        display: flex;
                        justify-content: start;
                        
                        $breakpoint-tablet: 500px;
                        @media (max-width: $breakpoint-tablet) {
                            
                        }
        
                        &__icon{
                            color: $text2;
                            font-size: 2rem;
                            margin-right: 30px;
                            text-align: center;

                            $breakpoint-tablet: 500px;
                            @media (max-width: $breakpoint-tablet) {
                                font-size: 2rem;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
          
    }  }
}


