@import "./../SCSS/abstracts/variables.scss";

.bloc2{
    height: 1200px;
    width: 100%;

    &__dark {
        color: $text2;
        background-color: $m1;
      }
        
    &__light {
        color: $textl;
        background-color: $ml1;
    }


    $breakpoint-tablet: 800px;
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
        height: 1200px;
        margin-top: 100px;
        
    }

    $breakpoint-tablet: 500px;
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
        padding-bottom: 100px;
        height: 100px;
    }

    $breakpoint-tablet: 499px;
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
        height: 100%;  
        margin-top: 0px;
        padding-bottom: 40px;
    }

    &__box{
        margin: auto;
        max-width: 1280px;
        padding-top: 40px;

        $breakpoint-tablet: 980px;
                @media (max-width: $breakpoint-tablet) { 
                    width: 90%;    
                }

        $breakpoint-tablet: 499px;
            @media (max-width: $breakpoint-tablet) {
                width: 100%;
                padding-top: 0px;
                margin: 0px;
                
            }

        &__content{
            display: flex;
            justify-content: left;
            width: 95%;
            margin: auto;

            $breakpoint-tablet: 980px;
                @media (max-width: $breakpoint-tablet) {
                    width: 100%;
                    
                }

            $breakpoint-tablet: 800px;
            @media (max-width: $breakpoint-tablet) {
                width: 90%;
                justify-content: center;
                
            }
           
            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
                display: block;
                justify-content: center;
                width: 100%;
            }

            $breakpoint-tablet: 499px;
            @media (max-width: $breakpoint-tablet) {
                width: 90%;
                justify-content: center;
                
            }

            &__picbox{
                display: flex;
                justify-content: center;

                &__picture1{
                    height: 350px;
                    margin: 50px 60px 0px 0px;

                    $breakpoint-tablet: 980px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 300px;
                        margin: 50px 30px 0px 0px;
                    }

                    $breakpoint-tablet: 800px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 80%;
                        margin: 50px 0px 0px 35px;
                    }
                
                    $breakpoint-tablet: 600px;
                    @media (max-width: $breakpoint-tablet) {
                        margin-left: 80px;
                    }

                    $breakpoint-tablet: 499px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 70%;
                        margin: 50px 0px 40px 0px;
                    }   
        
                }
            }

            &__box1{
                justify-content: right;
                height: 350px;
                margin-top: 50px;

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                    justify-content: left;
                }

                $breakpoint-tablet: 499px;
                @media (max-width: $breakpoint-tablet) {
                    margin: 0px 0px 0px 0px;
                    height: 300px;
                }

            &__text0{ 
                color: $resalt;
                font-size: 1.2rem;

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                    margin: 0px 0px 0px 40px;
                
                }

                $breakpoint-tablet: 800px;
                @media (max-width: $breakpoint-tablet) {
                    margin: 0px 0px 0px 0px;
                    
                }

                $breakpoint-tablet: 499px;
                @media (max-width: $breakpoint-tablet) {
                    margin: 0px 0px 0px 0px;
                    
                }

            }
        
            &__me{
                color: $text2;
                font-size: 2.5rem;
                text-align: left;
                margin-bottom: 10px;
                padding-top: 5px;

                &__dark {
                    color: $text2;
                  }
                    
                &__light {
                    color: $textl;
                }

                $breakpoint-tablet: 800px;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 1.8rem;
                    margin: 0px 0px 0px 0px;
                    
                }

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                margin: 0px 0px 0px 40px;
                
                }

                $breakpoint-tablet: 499px;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 1.8rem;
                    margin: 0px 0px 0px 0px;
                    
                }
            }

            &__line{
                width: 50px;
                height:4px;
                background-color: $resalt;

                $breakpoint-tablet: 800px;
                @media (max-width: $breakpoint-tablet) {
                    margin: 0px 0px 0px 0px;
                    
                }

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                    margin: 0px 0px 0px 40px;
                
                }

                $breakpoint-tablet: 499px;
                @media (max-width: $breakpoint-tablet) {
                    margin: 0px 0px 0px 0px;
                    
                }
            }

                &__text1{ 
                    color: $text2;
                    min-width: 400px;
                    max-width: 600px;
                    text-align: justify;
                    line-height: 1.4;
                    font-size: 1.1rem;
                    margin-top: 25px;
                    margin-bottom: 65px;

                    &__dark {
                        color: $text2;
                      }
                        
                    &__light {
                        color: $textl;
                    }

                    $breakpoint-tablet: 800px;
                    @media (max-width: $breakpoint-tablet) {
                        min-width: 350px;
                        margin: 30px auto 40px auto;
                        font-size: 0.9rem;
                        
                    }
                    
                    $breakpoint-tablet: 500px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 400px;
                        margin: 30px auto 60px auto;
                        font-size: 1rem;
                    }

                    $breakpoint-tablet: 499px;
                    @media (max-width: $breakpoint-tablet) {
                        width: 100%;
                        margin: 30px 10px 30px 0px;
                        font-size: 0.9rem;
                        
                    }

                    &__btn{

                        width: 200px;
                        height: 50px;
                        background-color: $resalt;
                        color: $text;
                        font-weight: 600;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;

                        $breakpoint-tablet: 800px;
                        @media (max-width: $breakpoint-tablet) {
                            width: 100%;
                            height: 40px;
                            font-size: 1.2rem;
                            padding-top: 8px;

                        }

                        $breakpoint-tablet: 499px;
                        @media (max-width: $breakpoint-tablet) {
                            width: 100%;
                            height: 40px;
                            font-size: 1.2rem;
                            margin-top: 20px;

                        }
                        
                        &__button{
                            background-color: $resalt;
                            color: $text;
                            font-weight: 600;
                            border-radius: 10px;
                            margin-top: 15px;
                            
                            $breakpoint-tablet: 500px;
                            @media (max-width: $breakpoint-tablet) {
                            
                            }
            
                            $breakpoint-tablet: 420px;
                            @media (max-width: $breakpoint-tablet) {
                            
                            }

                            $breakpoint-tablet: 499px;
                            @media (max-width: $breakpoint-tablet) {
                                margin-top: 0px;
                            }
            
                            &:active {
                                box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);
                                transform: translateY(0.9px);
                            
                            }

                            &__icon{
                                font-size: 23px;
                                margin-top: 12px;
                                margin-left: 5px;

                                $breakpoint-tablet: 800px;
                                @media (max-width: $breakpoint-tablet) {   
                                    margin-left: 5px;
                                    font-size: 1.5rem;
                                }

                                $breakpoint-tablet: 499px;
                                @media (max-width: $breakpoint-tablet) {   
                                    margin-left: 5px;
                                    margin-top: 0px;
                                    padding-bottom: 10px;
                                    font-size: 1.5rem;
                                }
                                
                            }
                        }
                    }
                }

                
            }

        }

        &__b1{
            width: 1280px;
            padding-left: 400px;
            margin: auto;
           
            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
                display: block;
            }
            
            
            }
          
    }  
}

.nav{
    width : 300px; 
    background: #d9d9d9;
    margin : 40px auto; 

  &__slide{
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;

    &__span {
        padding : 30px;
        background : #2d2f31; 
        color : white;
        font-size : 1.2em;
        font-variant : small-caps;
        cursor : pointer;
        display: block;
      }
      
      span::after {
        float: right;
        right: 10%;
        content: "+";
      }
      
  }

  #touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 
}

