@import "./../SCSS/abstracts/variables.scss";

.bloc2{
    height: 900px;
    background-color: $bg5;

    $breakpoint-tablet: 500px;
    @media (max-width: $breakpoint-tablet) {
        width: 100%;
    }


    &__me{
        color: $text2;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 30px;
    }

    &__content{
        display: flex;
        width: 900px;
        margin: auto;

        $breakpoint-tablet: 500px;
        @media (max-width: $breakpoint-tablet) {
            display: block;
            justify-content: centers;
            width: 100%;
        }
       
        
        &__picture1{
            height: 400px;

            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
                margin-left: 60px;
            }

            $breakpoint-tablet: 420px;
                @media (max-width: $breakpoint-tablet) {
                    height: 310px;
                   justify-content: center;
                    margin-bottom: 10px;
                    
                }
       
        }

        &__box1{
            justify-content: right;
            margin: auto;

            $breakpoint-tablet: 500px;
        @media (max-width: $breakpoint-tablet) {
           justify-content: left;
        }
    

            &__text1{ 
                color: $text2;
                width: 400px;
                text-align: justify;
                line-height: 1.2;
                margin-bottom: 60px;

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                   margin-left: 40px;
                }

                $breakpoint-tablet: 420px;
                @media (max-width: $breakpoint-tablet) {
                    width: 320px;
                    text-align: justify;
                    line-height: 1.4;
                    margin: auto;
                    font-size: 0.8rem;
                    margin-bottom: 30px;
                }
            }

            &__button{
                padding: 20px;
                background-color: $resalt;
                color: $text2;
                border-radius: 10px;
             
                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                  
                   margin-left: 40px;
                }

                $breakpoint-tablet: 420px;
                @media (max-width: $breakpoint-tablet) {
                   justify-content: center;
                    margin-bottom: 10px;
                    padding: 10px;
                    
                    
                }

                &:active {
                    box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);
                    transform: translateY(2px);
                  
                }
            }
        }
    }
}
