@import "./../SCSS/abstracts/variables.scss";

.footer {
    height: 228px;
    width: 100%;
   /*  background: $bg2; */
   background: $bg2;
    color: $text2;

    &__copyright{
        margin-top: 140px;
        text-align: center;
    }
}