@import "./../SCSS/abstracts/variables.scss";

.footer {
    height: 1000px;
    width: 100%;
    background: $bg2;
    color: $text2;

    &__copyright{
        text-align: center;
        padding-top: 700px;
    }
}