@import "./../SCSS/abstracts/variables.scss";

.master{
    height: 1100px;
    width: 100%;
    z-index: 1;
    padding-top: 100px;

   


        &__dark {
            color:white;
            background-color: $m1;
        }
        
        &__light {
            color:rgb(0, 0, 0);
            background-color: $ml1;
        }

        

        &__portfolio{
           width: 70%;
           height: 1100px;
           margin: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
            padding: 20px 0px 20px 0px;
            gap:20px;

            $breakpoint-tablet: 1560px;
                @media (max-width: $breakpoint-tablet) {
                    width: 70%;
                    margin: auto;
                     display: grid;
                     grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
                     padding: 20px 0px 20px 0px;
                     gap:20px;
                }

                $breakpoint-tablet: 1360px;
                @media (max-width: $breakpoint-tablet) {
                    width: 80%;
                    margin: auto;
                     display: grid;
                     grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
                     padding: 20px 0px 20px 0px;
                     gap:20px;
                }

                $breakpoint-tablet: 1050px;
                @media (max-width: $breakpoint-tablet) {
                    width: 90%;
                    font-size: 1.2rem;
                    height: 2000px;
                    margin: 0px auto 0px auto;
                    grid-template-columns: repeat(auto-fit,minmax(90%,1fr));
                    padding: 0px;
                    gap:20px;
                }

              

                $breakpoint-tablet: 820px;
                @media (max-width: $breakpoint-tablet) {
                    width: 90%;
                    font-size: 1.2rem;
                    margin: 0px auto 0px auto;
                    grid-template-columns: repeat(auto-fit,minmax(90%,1fr));
                    padding: 0px;
                    gap:20px;
                }

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                    width: 90%;
                    height: auto;
                    font-size: 1.2rem;
                    margin: 0px auto 0px auto;
                    grid-template-columns: repeat(auto-fit,minmax(90%,1fr));
                    padding: 0px;
                    gap:20px;
                }

                &__box1{
                    width: 100%;
                &__title{
                    color: $text2;
                    font-size: 2.2rem;
                    text-align: left; 
            
                    &__dark {
                        color:white;
                    }
                    
                    &__light {
                        color:rgb(0, 0, 0);
                    }

                    $breakpoint-tablet: 1050px;
                    @media (max-width: $breakpoint-tablet) {
                        padding-top: 100px;
                    }
                 
                    $breakpoint-tablet: 820px;
                    @media (max-width: $breakpoint-tablet) {
                        font-size: 1.9rem;
                    }

                    $breakpoint-tablet: 500px;
                    @media (max-width: $breakpoint-tablet) {
                        font-size: 1.8rem;
                        padding-top: 80px;
                    }
                }

                &__line{
                    background: $resalt;
                    height: 5px;
                    width: 40px;
                    margin-bottom: 450px;

                    $breakpoint-tablet: 1050px;
                    @media (max-width: $breakpoint-tablet) {
                        margin-bottom: 40px;
                    }

                    $breakpoint-tablet: 1049px;
                    @media (max-width: $breakpoint-tablet) {
                        margin-bottom: 40px;
                }

                    $breakpoint-tablet: 800px;
                    @media (max-width: $breakpoint-tablet) {
                        margin-bottom: 40px;
                    }

                    $breakpoint-tablet: 500px;
                    @media (max-width: $breakpoint-tablet) {
                        margin-bottom: 40px;
                    }
                }
            }

        &__box2{
            background: white;
            border-radius: 10px;
            height: 500px;

            $breakpoint-tablet: 1050px;
              @media (max-width: $breakpoint-tablet) {
                position:static;    
                
            }

            &__dark {
                color:white;
                background-color: $ml1;
              }
                
              &__light {
                color:rgb(0, 0, 0);
                background-color: $m1;
              }

            &__img3{
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                height: 420px;
                object-fit:cover;
                }

                &__button{
                    padding: 5px;
                    border-radius: 0px 0px 10px 10px;
                    display: flex;
                    justify-content: center;
                    height: 70px;
                    margin-top: 10px;

                    &__btn{
                        cursor: pointer;
                        background-color: $m1;
                        width: 100px;
                        height: 40px;
                        padding: 5px;
                        margin: 0px 10px 0px 10px;
                        border-radius: 10px;
                        text-align: center;
                        color: $text2;
                        font-weight: 800;

                        $breakpoint-tablet: 500px;
                        @media (max-width: $breakpoint-tablet) {
                            width: 95%;
                            height: 50px;

                        }

                        &:active {
                            box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);
                            transform: translateY(0.9px);
                        
                        }
                    }
                }
            }

        &__box3{
            
            position: relative;
            bottom: 250px;
            width: auto;
            height: 500px;
            border-radius: 10px;

            &__dark {
                color:white;
                background-color: $ml1;
              }
                
              &__light {
                color:rgb(0, 0, 0);
                background-color: $m1;
              }

              $breakpoint-tablet: 1050px;
              @media (max-width: $breakpoint-tablet) {
                position:static;
               
                
                }

            $breakpoint-tablet: 820px;
                @media (max-width: $breakpoint-tablet) {
                     position:static;
                }

              $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                     position:static;
                }
            
                &__img1{
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                height: 420px;
                object-fit:cover;
              
                    $breakpoint-tablet: 980px;
                    @media (max-width: $breakpoint-tablet) {
                        
                
                    }

                    &__button{
                        width: 100%;
                        
                        border-radius: 0px 0px 10px 10px;
                        display: flex;
                        justify-content: center;
                        
    
                        &__btn{
                            background-color: $m1;
                            width: 100%;
                            border-radius: 10px;
                            text-align: center;
                            color: $text2;
                            font-weight: 800;
                            margin: 0px 10px 0px 10px;

                            $breakpoint-tablet: 500px;
                            @media (max-width: $breakpoint-tablet) {
                                width:50px; 
                        
                            }

                        }
                    }
                }
    
        }

        &__box4{
            
            bottom: 250px;
            width: auto;
            height: 500px;
            border-radius: 10px;

            &__dark {
                color:white;
                background-color: $ml1;
              }
                
              &__light {
                color:rgb(0, 0, 0);
                background-color: $m1;
              }

              $breakpoint-tablet: 1050px;
              @media (max-width: $breakpoint-tablet) {
                position:static;
               
                
                } 

        }

        &__box5{
            height: 800px;
            border-radius: 10px;
            position: relative;
            bottom: 140px;
            margin-top: 30px;
            width: 100%;

            $breakpoint-tablet: 1050px;
            @media (max-width: $breakpoint-tablet) {
                position: static;
                height: 180px;
                margin-top: 160px;
            
              
              }
                
            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
            text-align: center;
            height: 100px;
            bottom: 80px;
            margin-top: 60px;
            }

                &__content{
                    width: 250px;
                    margin: auto;
                    justify-content: center;
                    animation: movebtn 3s ease-in-out infinite;
                    transition: all .5s ease-in-out;

                    @keyframes movebtn {
                        0%{
                          transform: translateX(0px);
                        }
                        
                        75%{
                          transform: translateX(-40px);
                        }
                        100%{
                          transform: translateX(0px);
                        }
                    }

                &__text{
                    color: $resalt;
                    width: 100%;
                    font-size: 1.5rem;
                    width: 20px;
                    text-align: center;
                    cursor: pointer;
                
                    &__icon{
                        height: 20px;
                        width: 40px;       
                    }
                }
            }
        }

        &__box{
            width: 100%;
            margin: auto;

            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
            width: 100%;
            margin: 0px auto 0px auto;
            }

            &__cards{
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
                padding: 20px;
                grid-gap: 40px;

                &__card{
                    background-color: #ffffff;
                    border-radius: 20px;
                    box-shadow: 0 0 30px rgba(0,0,0,0.18);

                &__card1{
                    background-color: $bg5;
                    border-radius: 25px;
                    
                    }
                   
                    &__container{
                        position: relative;
                        clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);

                        &__img{
                            width: 100%;
                            display: block;
                            border-radius: 20px 20px 0px 0px;
                        }

                        &__details{
                            padding: 20px 10px;

                            &__title{
                                color: #ffffff;
                                font-weight: 600;
                                font-size: 18px;
                                margin: 10px 0 15px 0;
                            }

                            &__text{
                                color: #a0a0a0;
                                font-size: 15px;
                                line-height: 30px;
                                font-weight: 400;
   
                            }
                            
                        }
                    }
                }
            }

        }
    }
}
