@import "./../SCSS/abstracts/variables.scss";

.master{
    height: auto;
    width: 100%;
    z-index: 1;
    padding-top: 100px;

    &__dark {
        color:white;
        background-color: $m1;
      }
        
      &__light {
        color:rgb(0, 0, 0);
        background-color: $ml1;
      }

&__portfolio{
    width: 1280px;
    height: 100%;
    margin: auto;
    max-height: auto;
    display: grid;
                grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
                padding: 20px;
                gap:20px;

                $breakpoint-tablet: 980px;
    @media (max-width: $breakpoint-tablet) {
        width: 90%;
        font-size: 1.2rem;
        margin: 0px auto 0px auto;
        grid-template-columns: repeat(auto-fit,minmax(90%,1fr));
        padding: 0px;
        gap:20px;
    }

    $breakpoint-tablet: 800px;
    @media (max-width: $breakpoint-tablet) {
        width: 90%;
        font-size: 1.2rem;
        margin: 0px auto 0px auto;
        grid-template-columns: repeat(auto-fit,minmax(90%,1fr));
    padding: 0px;
    gap:20px;
    }

    $breakpoint-tablet: 500px;
    @media (max-width: $breakpoint-tablet) {
    width: 450px;
    margin-top: 1530px;
    grid-template-columns: repeat(auto-fit,minmax(420px,1fr));
    padding: 0px;
    gap:20px;
    }

    $breakpoint-tablet: 390px;
    @media (max-width: $breakpoint-tablet) {
        width: 350px;
        font-size: 1.2rem;
        margin: 0px auto 0px auto;
        grid-template-columns: repeat(auto-fit,minmax(90%,1fr));
    padding: 0px;
    gap:20px;
    }

        &__box1{

            &__title{
                color: $text2;
                font-size: 2.2rem;
                text-align: left; 
                

                &__dark {
                    color:white;
                  }
                    
                  &__light {
                    color:rgb(0, 0, 0);
                  }
                 
                $breakpoint-tablet: 800px;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 1.9rem;
                }

                $breakpoint-tablet: 390px;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 1.8rem;
                    padding-top: 10px;
                }
            }


            &__line{
                background: $resalt;
                height: 5px;
                width: 40px;
                margin-bottom: 450px;

                $breakpoint-tablet: 980px;
            @media (max-width: $breakpoint-tablet) {
                margin-bottom: 40px;
            }

                $breakpoint-tablet: 800px;
                @media (max-width: $breakpoint-tablet) {
                    margin-bottom: 40px;
                }

                $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                    margin-bottom: 40px;
                }
            }
        }

        &__box2{
            height: 500px;
            background: white;
            border-radius: 10px;

            &__dark {
                color:white;
                background-color: $ml1;
              }
                
              &__light {
                color:rgb(0, 0, 0);
                background-color: $m1;
              }

            &__img3{
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                }
        }

        &__box3{
            height: 500px;
            position: relative;
            bottom: 250px;
            width: auto;
            border-radius: 10px;

            &__dark {
                color:white;
                background-color: $ml1;
              }
                
              &__light {
                color:rgb(0, 0, 0);
                background-color: $m1;
              }

              $breakpoint-tablet: 980px;
              @media (max-width: $breakpoint-tablet) {
                position:static;
                }

            $breakpoint-tablet: 800px;
                @media (max-width: $breakpoint-tablet) {
                     position:static;
                }

              $breakpoint-tablet: 500px;
                @media (max-width: $breakpoint-tablet) {
                     position:static;
                }
            
                &__img1{
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                }
    
        }

        &__box4{
            height: 500px;
            border-radius: 10px;
            background: white;

            &__dark {
                color:white;
                background-color: $ml1;
              }
                
              &__light {
                color:rgb(0, 0, 0);
                background-color: $m1;
              }
 
        }

        &__box5{
            height: 200px;
            border-radius: 10px;
            position: relative;
            bottom: 140px;
            width: 100%;
            justify-content: center;

            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
            margin-top: 200px;
            }

            $breakpoint-tablet: 390px;
            @media (max-width: $breakpoint-tablet) {
            text-align: center;
            height: 50px;
            bottom: 120px;
            }

            &__text{
                color: $resalt;
                font-size: 1.5rem;
               width: 20px;
                text-align: center;
                cursor: pointer;
                
                &__icon{
                    height: 20px;
                    width: 40px;       
                }
            }
        }

        &__box{
            width: 90%;
            margin: auto;

            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
            width: 100%;
            margin: 0px auto 0px auto;
            }

            &__cards{
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
                padding: 20px;
                grid-gap: 40px;

                &__card{
                    background-color: #ffffff;
                    border-radius: 20px;
                    box-shadow: 0 0 30px rgba(0,0,0,0.18);

                &__card1{
                    background-color: $bg5;
                    border-radius: 25px;
                    
                    }
                   
                    &__container{
                        position: relative;
                        clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);

                        &__img{
                            width: 100%;
                            display: block;
                            border-radius: 20px 20px 0px 0px;
                        }

                        &__details{
                            padding: 20px 10px;

                            &__title{
                                color: #ffffff;
                                font-weight: 600;
                                font-size: 18px;
                                margin: 10px 0 15px 0;
                            }

                            &__text{
                                color: #a0a0a0;
                                font-size: 15px;
                                line-height: 30px;
                                font-weight: 400;
   
                            }
                            
                        }
                    }
                }
            }

        }
}
}
