@import "./../SCSS/abstracts/variables.scss";

.title{
    margin-top: 130px;
    margin-bottom: 30px;
    font-size: 1.9rem;
    text-align: center;

    &__dark { 
        color: $ml1;
    }

    &__light {
        color:$m1; 
    }

    $breakpoint-tablet: 500px;
    @media (max-width: $breakpoint-tablet) {
        text-align: left;
        margin-left: 25px;
        margin-top: 70px;
        font-size: 1.8rem;
    }
    
    &__line{
        width: 40px;
        height: 5px;
        background: $resalt;   
    }
}

.skills{
    width: 1280px;
    max-height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    padding: 20px;
    gap:40px;

            $breakpoint-tablet: 980px;
            @media (max-width: $breakpoint-tablet) {
                width: 100%;
                grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
                padding: 0px;
                gap:0px;
            }

            $breakpoint-tablet: 820px;
            @media (max-width: $breakpoint-tablet) {
                grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
                padding: 0px;
                margin: auto;
                gap:0px;
            }

            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
                grid-template-columns: repeat(auto-fit,minmax(80%,1fr));
                width: 100%;
                padding: 0px;
                gap:0px;
            }

    &__titlex{
        color: $text2;
        font-size: 1rem; 
    }

    &__div1{
           padding-left: 50px ;

           $breakpoint-tablet: 820px;
           @media (max-width: $breakpoint-tablet) {
               padding-left: 0px ;
           }
 
           $breakpoint-tablet: 500px;
           @media (max-width: $breakpoint-tablet) {
               padding-left: 0px ;
           }

        &__title{
            font-size: 1.6rem;
            color: $resalt;
            margin-bottom: 20px;
            padding-left: 30px ;

            $breakpoint-tablet: 820px;
            @media (max-width: $breakpoint-tablet) {
                font-size: 1.4rem;
                text-align: center;
            }

            $breakpoint-tablet: 500px;
            @media (max-width: $breakpoint-tablet) {
                width: 100%;
                padding-left: 0px ;
                text-align: center;
            }

            $breakpoint-tablet: 499px;
            @media (max-width: $breakpoint-tablet) {
                font-size: 1.4rem;
            }
            
        }
            
            &__box{
                width: 100%;
                height: 90px;

                &__icons{
                    height: 90px;
                    display: flex;
                    margin-left: 30px;

                    $breakpoint-tablet: 820px;
                    @media (max-width: $breakpoint-tablet) { 
                        margin: auto;
                        justify-content: center;
                    }

                    $breakpoint-tablet: 500px;
                    @media (max-width: $breakpoint-tablet) {
                        font-size: 28px;
                        justify-content: space-around;
                        margin-left: 10px;
                    }

                    &__icon{
                        font-size: 40px;
                        color: white;
                        text-align: center;
                        margin-right: 40px;

                        &__dark { 
                            color: $ml1;
                        }
                    
                        &__light {
                            color:$m1; 
                        }

                        $breakpoint-tablet: 820px;
                        @media (max-width: $breakpoint-tablet) {
                            font-size: 2.7rem;
                            margin-right: 35px;
                            margin-left: 35px;
                        }

                        $breakpoint-tablet: 500px;
                        @media (max-width: $breakpoint-tablet) {
                            font-size: 28px;
                            margin-right: 13px;
                            margin-left: 13px;
                        }

                        &__title1{
                            font-size: 0.8rem;

                            $breakpoint-tablet: 500px;
                            @media (max-width: $breakpoint-tablet) {
                                font-size: 0.6rem;
                            }
                        }
                    }
                }
            }   
    }
}